{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}
    <section class="hero is-medium {{ callouts.style }}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% for callout in callouts.items %}
                        {% if page.instructors %}
                        <div class="column is-6 has-text-centered">
                        {% else %}
                        <div class="column container is-4 has-text-centered">
                        {% endif %}
                            {% if callout.photo %}
                            <figure class="image container is-128x128">
                              <img src="{{ callout.photo }}" class="is-rounded" alt="{{ callout.title }}">
                            </figure><br>
                            {% endif %}
                            {% if callout.icon %}
                            <div class="icon is-large">
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            </div>
                            {% endif %}
                            <p class="title is-5">{{ callout.title }}</p>
                            <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            
                            {% if callout.description %}
                            <div class="content">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                            <a href="{{ callout.call_to_action_link }}" class="button is-primary" target="_blank">
                                {{ callout.call_to_action_name }}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="notification is-link">
                    <h2 class="has-text-white">⚠️ <b>NOTA SOBRE TUS INSTRUCTORES </b>(22/03/2025)</h2>
                    <p>Algunos cambios han sucedido con tus instructores desde que se produjo este curso en 2021...</p>
                    <ul>
                        <li>🚀 Missa ahora estudia un máster en Canadá; en sus palabras: MSc in Physics student at Université de Montréal. Passionate about cosmology, astrophysics, and AI. I love to learn new things and share my knowledge with others.</li>
                        <li>🚀 Por su parte, Rodo es estudiante de la Especialidad en Métodos Estadísticos con enfoque en Ciencia de Datos en el Centro de Investigación en Matemáticas (CIMAT), A.C.; en sus palabras: Rodo es desarrollador de IA y Blockchain, laborando actualmente como Sr. SWE en Bisonic. Es tutor de las clases de Polars, Streamlit y Deep Learning en Código Facilito, y facilitador de las clases de aprendizaje profundo en el Diplomado en Ciencia de Datos de la ENES (UNAM) en León.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endif %}

